@{
    ViewBag.Title = "My Personal Shortner";
}

<h1 class="title">My Personal Shortner</h1>

@using (Ajax.BeginForm("Shorten", "Main", new { area = "Api" },
    new AjaxOptions { HttpMethod = "POST", 
        OnSuccess = "common.HandleShortenSuccess",
        OnFailure = "common.HandleShortenFailure"
    }))
{
    <p>
        <label for="url">Url: </label> @Html.TextBox("url") <input type="submit" value="Shorten" /><br />
        @Html.ValidationMessage("LongUrl")
    </p>
}

<div id="shorten-url" style="display:none">
    <h2></h2>
</div>