@{
    ViewBag.Title = "My Personal Shortner";
}

<h1>My Personal Shortner</h1>

@using (Html.BeginForm())
{
    <p>
    <label>Url: </label> @Html.TextBox("url")
    </p>
    <p>
        <input type="submit" value="Shorten" />
    </p>
}

@if (!string.IsNullOrEmpty(ViewBag.ShortenUrl))
{ 
    <div id="shorten-url">
        <h2>http://tosh.io/@ViewBag.ShortenUrl</h2>
    </div>
}
