@{
    ViewBag.Title = "My Personal Shortner";
}

@using (Ajax.BeginForm("Shorten", "Main", new { area = "Api" },
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "shortner.HandleShortenSuccess",
        OnFailure = "shortner.HandleShortenFailure"
    }, new { @class = "form-inline"} ))
{
        <label for="url">Url: </label> @Html.TextBox("url", "", new { @class = "span8" }) <button type="submit" value="Shorten" class="btn btn-primary">Shorten</button>
        <p>@Html.ValidationMessage("LongUrl")</p>
}