@model MyPersonalShortner.Lib.Domain.Account.FacebookUser

@if (@Model == null)
{
    <fb:login-button></fb:login-button>
}
else
{ 
    <img src="@Model.ProfilePicture" alt="@Model.Name" /> <span><a href="/user/customurls">@Model.Name</a></span>
}