@{
    ViewBag.Title = "Url Not Found";
}

@section Header
{
    <h1 class="title">Url not found!</h1>
}

<section id="urlnotfound-message">
    <p>Sorry! but we can't find the url you are looking for.</p>
</section>
